includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/

    # Level 8 is highest strictness for Larastan static type checking
    level: 8

    excludePaths:
        - storage/
        - vendor/
